
.left-nav-bar {
  width: 100%;
  color: #fff;
  padding: 0 15px;
}
  
  .left-nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .left-nav-bar li {
    padding: 10px 0;
    color: #898eac;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  
  .left-nav-bar a {
    text-decoration: none;
    color: #898eac;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    display: block;
}

.left-nav-bar li > a:hover {
  color: #fff;
  border-radius: 6px;
  background: #2d2d69;
}

.left-nav-bar li.active > a {
  background: #2d2d69;
  border-radius: 6px;
}

.left-nav-bar .bi {
  font-size: 18px;
}
  
  
.left-nav-bar .sub-menu {
    list-style-type: none;
    padding: 0;
    padding-top: 5px;
    margin-left: 25px;
  
  }

  /* .left-nav-bar li.active .sub-menu {
    display: block;
  } */

  .left-nav-bar .sub-menu li {
    padding: 0;
}
  
  .arrow .bi {
    font-size: 12px;
    color: #adb5bd;
    position: absolute;
    right: 5px;
}